@model Project;
@{
    Layout = "_LayoutForm";
}

<form method="post" action="AddProject" enctype="multipart/form-data">
    <fieldset>
        <legend class="text-center">Add Project</legend>


        <div class="form-group">

            <label class="col-form-label mt-4">Project Name</label>
            <input asp-for="@Model.Name" type="text" class="form-control" placeholder="Enter Project Name">

            <label class="col-form-label mt-4">Description</label>
            <input asp-for="@Model.Description" type="text" class="form-control" placeholder="Enter Description">

            <!-- Space for partial view-->

            <label class="col-form-label mt-4">User ID</label>
            <input asp-for="@Model.CustomerId" type="number" class="form-control" placeholder="Enter User ID">


            <label class="col-form-label mt-4">Completion Rate</label>
            <input asp-for="@Model.CompletionRate" type="number" class="form-control" placeholder="Enter completion rate">


            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" asp-for="@Model.ProjectStatus">Is Project Completed?</label>


            <label class="col-form-label">Project Cost</label>
            <div class="input-group mb-3">
                <span class="input-group-text">Rs.</span>
                <input asp-for="@Model.Cost" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Enter Project Cost">
                <span class="input-group-text">.00</span>
            </div>

        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-light mt-5">Add</button>
            <a href="/Admin/DisplayAllProjects" class="btn btn-secondary mt-5">Cancel</a>
        </div>
    </fieldset>
</form>