@using ProjectManagementApplication.Models;
@model Tuple<User, List<Service>>;

@{
    Layout = "_LayoutAdminDashboard";
}

@section userinfo {
    <div class="dropdown">
        <img src="~/@Model.Item1.ImageURL" alt="profile" class="rounded-circle" width="50" height="50">
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" asp-controller="User" asp-action="Profile">Profile</a></li>
            <li><a class="dropdown-item" asp-controller="User" asp-action="Logout">Logout</a></li>
        </ul>
    </div>
}
<!-- Destaials Section -->
<div class="col-md-10">
    <h1>Services</h1>
    <div class="row me-4" style="margin-left: 90%;">
        <button asp-action="AddService" type="button" class="btn btn-primary">Add New</button>
    </div>
    <div class="row row-cols-3 row-cols-md-2 row-cols-sm-1 mt-3">
        @foreach (Service service in Model.Item2)
         {
            <div class="card mb-3 me-2 shadow-lg" style="max-width: 32%; padding: 0px;">
                <h3 class="card-header bg-primary text-white">@service.Name</h3>
                <div class="card-body">
                    <!-- <h5 class="card-title">Special title treatment</h5> -->
                    <h6 class="card-subtitle text-muted">Added on: @service.CreatedDate</h6>
                </div>

                <div class="card-body">
                    <p class="card-text">@service.Description</p>

                    <a asp-action="EditService" asp-route-serviceId="@service.Id" class="card-link btn btn-info">Edit</a>
                    <a asp-action="DeleteService" asp-route-serviceId="@service.Id" class="card-link btn btn-danger">Delete</a>
                </div>
            </div>
         }
    </div>
</div>
<!-- Details Section ends here -->