@using ProjectManagementApplication.Models;
@model Project;
@{
    Layout = "_LayoutForm";
}

<form method="post" action="EditProject" enctype="multipart/form-data">
    <fieldset>
        <legend class="text-center">Edit Project</legend>

        <div class="form-group">
            <fieldset disabled="">
                <label class="form-label" asp-for="@Model.Id"> Project ID </label>
                <input asp-for="@Model.Id" type="text" class="form-control" value="@Model.Id" disabled="">
            </fieldset>
        </div>

        <div class="form-group">

            <label class="col-form-label mt-4" asp-for="Name">Project Name</label>
            <input asp-for="Name" type="text" class="form-control" value="@Model.Name">

            <label class="col-form-label mt-4" asp-for="Description">Description</label>
            <textarea class="form-control" rows="3" spellcheck="true" value="@Model.Description"></textarea>

            <label asp-for="Cost"> Project Cost </label>
            <input asp-for="Cost" type="number" class="form-control">

            <label  asp-for="Cost" class="col-form-label">Project Cost</label>
            <div class="input-group mb-3">
                <span class="input-group-text">Rs.</span>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" value="@Model.Cost">
                <span class="input-group-text">.00</span>
            </div>

        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-light mt-5">Update</button>
            <a asp-action="DisplayAllProjects" class="btn btn-secondary mt-5">Cancel</a>
        </div>
    </fieldset>
</form>